/*!***********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./src/index.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************/
@tailwind base;
@tailwind components;
@tailwind utilities;



body{
    background-color: blue;
    margin: 0;

}

.Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.Field{
    width: 500px;
    max-width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.Field input{
    width: 50%;
}

.Button{
    background-color: yellow;
    color: blue;
    border: 0px;
    width: 25%;
}
select{
    width: 9%;
}

.Card{

    width: 500px;
    max-width: 100%;
    position: relative;
}
.Card div{
    position: relative;
}
.Card img{
    max-width: 100%;
}
.Date{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: blue;
    color: #33ff00;
    margin: 10px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.Info{
    background-color: #33ff00;
    width: calc(100%-20px);
    padding: 20px;
}
.Info h1{
    text-transform: uppercase;
    color: blue;
    font-size: 50px;
    margin: 0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.Info span{
    text-transform: uppercase;
    color: red;
    margin: 0;
    margin-right: 10px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
